.sidenav-content {
  // padding: 1rem 3rem;
  height: calc(100vh - 64px);
  margin: auto;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

@media (max-width: 600px) {
  fio-menu {
    display: none;
  }
}

.sidenav-container {
  width: 100%;
  height: calc(100vh - 64px);
}


.sidenav-content button {
  min-width: 50px;
}
