@import "~compass-mixins";

fio-top-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

fio-top-menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-position: inside;
  padding: 0px;
  margin: 0px;
}

fio-top-menu li {
  list-style-type: none;
  padding: 0px;
}

md-toolbar.mat-toolbar {
  position: relative;
  z-index: 10;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.30);
  padding: 0 16px 0px 0px;

  &.mat-primary { @include background-image(linear-gradient(#57D974, #37CC95)) }
}

.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

fio-search-box input {
  color: $darkgray;
  border: none;
  border-radius: 5px;
  background-color: $offwhite;
  padding: 5px 10px;
  margin-left: 8px;
  min-width:200px;
  width: 50%;
  height: 40%;
}
