.DS_STORE

dist
node_modules
bower_components
fio

pubspec.lock
.c9
.idea
.settings
.vscode
modules/.settings
modules/.vscode

*.swo
*.bak
*.js#
*.__#
*.__~
*.ht#
.gi#
*.js~
*.ht~

npm-debug.log
yarn-error.log
