<div class="page-blur"
  bizNavbarBgBlurScroll
  bizNavbarBgBlurScrollContent="main"
  bizNavbarBgBlurScrollTarget="navbar">
</div>

<nav id="navbar"
  class="navbar"
  bizSticky
  bizStickyOffsetY="5"
  bizStickyClass="navbar--scrolled">

  <div class="navbar__wrapper">
    <div class="navbar__logo">
      <img src="/imgs/coloured.logo.framing.png" width="164px" height="35px" />
    </div>

    <div class="navbar__menu menu">
      <div class="menu__trigger"></div>

      <ul class="menu__items">
        <!--<li><a href="#">Usuage</a></li>-->
        <!--<li><a href="#">Features</a></li>-->
        <li><a href="/docs">Docs</a></li>
        <li><a href="https://github.com/framing/ng-framing">Github</a></li>
      </ul>
    </div>
  </div>
</nav>

<main id="main">
  <header class="header">

    <div class="header__content">
      <h1>Scalable MVC Architecture</h1>
      <h4>For Enterprise-Grade Angular Apps.</h4>
    </div>

    <!--<div class="header__preview">
      <div>
        <img src="/public/images/with.png" alt="without ng-core" />
        <span>without ng-core</span>
      </div>
      <div>
        <img src="/public/images/without.png" alt="with ng-core" />
        <span>with ng-core</span>
      </div>
    </div>-->

    <br><br>

    <a href="https://github.com/framing/ng-framing" target="_blank" class="button">Visit Github Repo</a>
    <a href="/docs" class="button">View the Docs</a>

  </header>

  <!--<section id="how-to-use" class="section section--bright">
    <div class="section__wrapper">
      <h3>How to install ng-core</h3>

      <br><br>

        <code><span>npm install @biznas/ng-core</span></code>
        <span>or</span>
        <code><span>git clone https://git.github.com/biznas/ng-core-starter</span></code>

      <a href="#" class="button button--alternate">Documentation</a>
    </div>
  </section>

  <section id="features" class="section">
    <div class="section__wrapper">
      <div class="feature">
        <h4>Reduce Boilerplate Code</h4>
        <p>Minimize the amount of boilerplate code you write with clean, easy-to-read code. Convention over configuration.</p>
      </div>

      <div class="feature">
        <h4>Angular Router Enhancements</h4>
        <p>Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>

      <div class="feature">
        <h4>Scaffolding</h4>
        <p>Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue.</p>
      </div>
    </div>
  </section>

  <section id="testimonials" class="section section--alt">
    <div class="section__wrapper">
      <div class="testimonials">
        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">‘Not everything that can be counted counts, and not everything that counts can be counted.’ – Einstein</p>
          &mdash; Jeremy Becker (@iamjbecker) <a href="https://twitter.com/iamjbecker/status/773238536136822785">September 6, 2016</a>
        </blockquote>

        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">‘Not everything that can be counted counts, and not everything that counts can be counted.’ – Einstein</p>
          &mdash; Jeremy Becker (@iamjbecker) <a href="https://twitter.com/iamjbecker/status/773238536136822785">September 6, 2016</a>
        </blockquote>

        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">‘Not everything that can be counted counts, and not everything that counts can be counted.’ – Einstein</p>
          &mdash; Jeremy Becker (@iamjbecker) <a href="https://twitter.com/iamjbecker/status/773238536136822785">September 6, 2016</a>
        </blockquote>
      </div>
      <br><br>
      <a href="https://twitter.com/biznasapps" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @biznasapps</a>
    </div>
  </section>-->

  <section id="who" class="section section--bright">
    <div class="section__wrapper">
      <div class="testimonal">
        <img src="" class="testimonial__avatar" />
        <div class="testimonial__content">
          <p><strong>BIAS TESTIMONIAL BY THE AUTHOR</strong></p>
          <br>
          <h4>"You'd be crazy not to use this in your Angular project."</h4>
          <p><a href="//twitter.com/biznas_ryan" target="_blank">@biznas_ryan</a></p>
        </div>
      </div>
    </div>
  </section>

  <!--<section id="getting-started" class="section section--bright">
    <div class="section__wrapper">
      <div class="codeBlock codeBlock--inline">
        <code><span>npm install @biznas/ng-core</span></code>
        <span>or</span>
        <code><span>git clone https://git.github.com/biznas/ng-core-starter</span></code>
      </div>

      <a href="#" class="button button--primary">Documentation</a>
    </div>
  </section>-->

  <footer>
    <div class="container columns">
      <ul class="column">
        <label>About</label>
        <li><a target="_blank" href="https://biznas.io">Biznas</a></li>
        <li><a target="_blank" href="https://biznas.io/blog">Biznas Blog</a></li>
        <li><a target="_blank" href="https://twitter.com/biznasapps">Twitter</a></li>
        <li><a target="_blank" href="https://facebook.com/biznasapps">Facebook</a></li>
      </ul>

      <ul class="column">
        <label>Join The Community</label>
        <li><a target="_blank" href="https://github.com/framing">Github</a></li>
        <li><a target="_blank" href="https://framing-community.slack.com">Slack</a></li>
      </ul>

      <ul class="column">
        <label>Support</label>
        <li><a href="mailto:info@biznas.io?cc=cash@square.com&subject=6.00&body=have%20a%20beer%20on%20me">Buy us a Beer</a></li>
        <li><a href="mailto:info@biznas.io">Email Us</a></li>
      </ul>

      <div class="column">
        <p>Copyright &copy; 2016 Biznas Innovations Inc.</p>
      </div>
    </div>
  </footer>
</main>
