<div fxLayout="row" class="md-toolbar-tools">
  <button md-button fxFlex="none" class="md-icon-button" aria-label="toggle Menu"
    (click)="appController.toggleSideNav(!appController.model.sideNavOpened)"
    *ngIf="appController.model.isRoot">
    <md-icon>menu</md-icon>
  </button>

  <button md-button class="md-icon-button" aria-label="Back"
    (click)="appController.goBack()"
    *ngIf="!appController.model.isRoot">
    <md-icon>arrow_back</md-icon>
  </button>

  <span fxFlex="shrink" style="overflow: hidden">
    <ng-template [ngComponentOutlet]="appController.view.appBarTitle"></ng-template>
  </span>

  <span fxFlex></span>

  <span fxFlex="none">
    <ng-template [ngComponentOutlet]="appController.view.appBarActions"></ng-template>
  </span>

  <button md-button class="md-icon-button" aria-label="More"
    (click)="appController.toggleRightNav(!appController.model.rightNavOpened)">
    <md-icon>more_vert</md-icon>
  </button>
</div>
